@tailwind base;
@tailwind components;
@tailwind utilities;

.panel{
  background-color: #000;
  color:#fff;
}

.rssDateDescription{
  @apply
  block
  mt-4
}

/* TODO Allow users to change text size */
.rssAccordionTitle{
  @apply
  mr-4
  text-sm

}

.mainContainer{
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}

.rssContainer{
  display: flex;
  flex-wrap: wrap;

  @apply
  mt-4
}

/* TODO Allow users to change text flex calc */
.rssCardContainer{
  /*flex: calc(100%/2);*/
  min-width: 0;
  margin-bottom: 24px;

  @apply
  px-4
}

.menuButtonContainer{
  width: 100%;
}

.menuItem{
  width: 100%;

}

.menuItemButtons{
  display: block;
}

.menuItem span{
  @apply
    block
}

.feedTitle{
  text-align: center;
}

.basicFlex{
  @apply
  flex
  justify-center
}

.loginContainer{
  margin: auto;
  max-width: 500px;
  background-color: rgba(255, 255, 255, .05);
  text-align: center;
  outline-color: rgba(255, 255, 255, .2);
  outline-width: 1px;
  outline-style: solid;

  @apply
  mt-8
  p-6
}

.evenly{
  @apply
  flex
  justify-evenly
}

.top-margin{
  @apply
  mt-6
}
