@tailwind base;
@tailwind components;
@tailwind utilities;

.panel{
  background-color: #000;
  color:#fff;
}

.rssDateDescription{
  @apply
  block
  mt-4
}

/* TODO Allow users to change text size */
.rssAccordionTitle{
  @apply
  mr-4
  text-sm

}

.mainContainer{
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}

.rssContainer{
  display: flex;
  flex-wrap: wrap;

  @apply
  mt-4
}

/* TODO Allow users to change text flex calc */
.rssCardContainer{
  /*flex: calc(100%/2);*/
  min-width: 0;
  margin-bottom: 24px;

  @apply
  px-4
}

.menuButtonContainer{
  width: 100%;
}

.menuItem{
  width: 100%;

}

.menuItemButtons{
  margin: auto;
  display: block;
}

.menuItem span{
  @apply
    block
}

.feedTitle{
  text-align: center;
}
